<div class="well" style='font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;'>
    <h1>What do you think of my work?</h1>
    <h3 class="Jumbotron ">I appreciate any honest feedback, advice, or ideas you have for me. You can submit a message here to me anonymously. I thank you in advance for helping me become a better developer.</h3>
    <form name="userForm" ng-submit="submitForm(user)" class="form-horizontal well" role="form" style="width: 100%;">
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="4" name="message" ng-model="user.message"></textarea>
            </div>
        </div>
        <div class="form-group">
            <!--         <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
        </div> -->
        </div>
        <div class="form-group">
            <div class="col-sm-1 col-sm-offset-2">


            
                <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
            </div>
            <div class="col-sm-1 col-sm-offset-1">
                <input id="clear" name="clear" type="button" value="Clear" class="btn btn-warning" ng-click="clear()">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1 col-sm-offset-2">
                <! Will be used to display an alert to the user>
            </div>
        </div>
    </form>
</div>
