<div class="well">
<h1>CONTACT ME / FEEDBACK</h1>
<h4>I'd would love to hear from you! Very open to any advice you might have on improving my portfolio. Also any career or developement suggestions are welcomed. </h4>

  <form name="userForm" ng-submit="submitForm(user)" class="form-horizontal well" role="form" style="width: 100%;">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" ng-model="user.name" placeholder="First & Last Name" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="example@domain.com" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" name="message" ng-model="user.messge"></textarea>
        </div>
    </div>
    <div class="form-group">
<!--         <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
        </div> -->
    </div>
    <div class="form-group">
        <div class="col-sm-1 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        </div>
        <div class="col-sm-1 col-sm-offset-1">
            <input id="clear" name="clear" type="button" value="Clear" class="btn btn-warning" ng-click="clear()">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1 col-sm-offset-2">
            <! Will be used to display an alert to the user>
        </div>
    </div>
</form>
commentd
<div ng-repeat="post in posts">
    comment
    {{post.id}}

</div>
</div>