@font-face {
    font-family: 'Ailerons';
    src: url('Ailerons/Ailerons-Typeface.otf');
}

body {
    overflow-x: hidden;
    color: #f5f5f5;
    text-align: center;
}

a {
    color: #B3E5FC;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 5px;
    margin-bottom: 18px;
}

a:hover {
    text-decoration: none;
}


/* Toggle Styles */

#left {
    float: left;
    width: 33%;
}

#middle {
    float: left;
    width: 33%;
}

#right {
    float: left;
    width: auto;
}

#column-wrapper {
    width: 70%;
    margin: 0 auto;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgba(0, 34, 68, 0.6);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#top-image {
    background-color: #555555;
    background-image: url("blue_triangles.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.divLeft {
    width:50%;
    float:left;
    text-align: center
}

.divRight {
    width:50%;
    float:right;
    text-align: center;
}

/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #f5f5f5;
    /*    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);*/
}

.sidebar-nav li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid white;
    transition: 0.4s;
}

.sidebar-nav li a:hover:after {
    text-decoration: none;
    color: #111;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.icon {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 4px;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
}

.icon-mono {
    background: url("../img/icons1.png");
    background-image: url("../img/icons1.svg"), none;
    background-color: #595959;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}


/* github */

.icon-mono.github {
    background-position: -288px 0;
}

.icon-mono.github:hover {
    background-color: #333333;
    background-position: -288px -96px;
}

.me {
    display: block;
    margin: 2em auto;
    margin-bottom: 3em;
    width: 88%;
    height: 88%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    max-width: 100%;
    /*    box-shadow: 14px 14px 25px 5px rgba(0, 0, 0, 0.4);*/
}

.me {
    text-align: center;
    color: #f5f5f5;
    /*    font-family: 'Baskerville'*/
}

.social {
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    color: #555;
    overflow: hidden;
}

.social a {
    color: inherit;
    text-decoration: none;
}

.social i {
    margin: .3em;
    cursor: pointer;
    transition: color 500ms ease, margin-top 500ms ease;
    transform: translateZ(0);
    color: #f5f5f5;
    margin: 10px;
    padding: 3px;
    border: #a1a1a1;
    /*    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);*/
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.social i:hover {
    margin-top: -1px;
}

.social i#twitter:hover {
    color: red;
}

.social i#github:hover {
    color: purple;
}

.social i#linkedin:hover {
    color: #0177B5;
}

.social i#code:hover {
    color: #29A329;
}

.social i#stack:hover {
    color: #ED780E;
}

.social i#plus:hover {
    color: #D43402;
}

.social i#mail:hover {
    color: #F7B401;
}

.navlinks {
    text-align: center;
    font-size: 150%;
}

.grid-item {
    width: 200px;
}

.grid-item--width2 {
    width: 400px;
}

.well {
    background-color: rgba(0, 34, 68, 0.7);
}

a:hover {
    color: white;
}

.jumbotron {
    background-color: rgba(0, 34, 68, 0.7);
    color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

textarea,
input,
select {
    display: inline-block;
}

.bg-1 {
    background-color: rgba(83, 190, 209, 0.8);
    opacity: .2 z-index: 1000;
    color: #ffffff;
    overflow-y: auto;
    border: 1px solid #e3e3e3;
    border-bottom: 0px;
}

.bg-2 {
    background-color: rgba(61, 173, 209, 0.8);
    color: #ffffff;
    border: 1px solid #e3e3e3;
    border-bottom: 0px;
    border-top: 0px;
}

.bg-3 {
    background-color: rgba(57, 159, 206, 0.8);
    color: #ffffff;
    border: 1px solid #e3e3e3;
    border-top: 0px;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
    width: 100%;
    background: white;
}

.fade-in-left {
    text-transform: uppercase;
    letter-spacing: .3em;
    word-spacing: 0;
    font-size: 58px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    -webkit-animation: fadeinleft 800ms ease-in-out;
    -moz-animation: fadeinleft 800ms ease-in-out;
    -o-animation: fadeinleft 800ms ease-in-out;
    -ms-animation: fadeinleft 800ms ease-in-out;
    animation: fadeinleft 800ms ease-in-out;
}

.page__subtitle {
    font-size: 23px;
    display: block;
    color: rgba(26, 15, 101, 0.57);
    text-transform: uppercase;
    letter-spacing: .35em;
    word-spacing: .5em;
    margin: .5em 0;
    -webkit-animation: fadeinleft 800ms ease-in-out;
    -moz-animation: fadeinleft 800ms ease-in-out;
    -o-animation: fadeinleft 800ms ease-in-out;
    -ms-animation: fadeinleft 800ms ease-in-out;
    animation: fadeinleft 800ms ease-in-out;
}

.image-shadow {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.home-page-title {
    padding-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#my-intro {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-left: 10%;
    margin-right: 10%;
}

.technology li {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 34, 68, 0.5);
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 10px 5px 0 0;
}

.back {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 34, 68, 0.5);
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 10px 5px 0 0;
}

.project-picture {
    max-width: 30%;
    max-height: 30%;
    float: left;
    /*    box-shadow: 14px 14px 25px 5px rgba(0, 0, 0, 0.4);*/
    /*   vertical-align: middle;*/
}

.table {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    list-style: none;
    padding-top: 20px;
}


/*ul#horizontal-list li {
    display: inline;
}*/


/*.developer{

}*/


/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

@-webkit-keyframes fadeinleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes fadeinleft {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
