<!doctype html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>Jose Portfolio</title>
    <script src="angular.js"></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js'></script>
    <script src='ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <script src='script.js'></script>
</head>

<body class='container' ng-app ='myApp'>
    <div>
        <div>
            <nav class="navbar navbar-inverse" role='navigation' style=" box-sizing: border-box;">
                <ul class='nav navbar-nav'>
                    <li class='active'><a href="/">Home<span class='sr-only'>(current)</span></a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
        </div>
        <br/>
        <div class='jumbotron'>
        	<h1>Jose Renteria</h1>
        	<h2>Fullstack Javascript Developer<h2>
        	<h3> Allow me to introduce myself<h3>
        	<p> After moving to New York City from Los Angeles in 2013, I started getting into technology by
        	joining Per Scholas Institute of Technology to learn computer tech and networking. Finished my Comptia A+ and Network+ certifications but found I had more of an interest in the software side of technology. Therefore, I enrolled and graduated from Kingsborough Community College CUNY in Fall of 2015 with an Associates in Computer Science. At that point I considered myself to be an intermediate coder but wanted to code at a professional level so I joined Fullstack Academy in 2016. There I acquired in-depth knowledge of front-end  development, back-end development, databases, developer tools and gained collaborative project experience. Now I am seeking a full time, entry-level position in javascript development. Would also like to flesh out my portfolio with freelance work, so if you'd like to hire me you can contact me below.
</p>
<p>
        	Currently, I am obsessed with learning React.js, mobile development and reading Hacker news. Enjoy meeting with other developers in the New York City tech meet up scene and finding opportunities to collaborate on projects. I also work out regurlarly, practice archery and play old school video games when I have time.
        	</p>
            <p>
                
            </p>
        </div>
    </div>

<div>

  <br/>
  <form class="form-horizontal" role="form" style="width: 50%;">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" name="message"></textarea>
        </div>
    </div>
    <div class="form-group">
<!--         <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
        </div> -->
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <! Will be used to display an alert to the user>
        </div>
    </div>
</form>
  </div>




</body>

</html>
